<!DOCTYPE html>
<html>
  <head>
    <title>TravelSmart</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCqR05G1xdfZk2aNaMpmIr6Hb_Dso12Egc" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
